<!-- Javascript links goes here -->
<script src="/scripts/script.js"></script>

<!-- Following is Footer section with Copyright -->
<footer class="footer">
    <p id="cpyrght">&copy; Copyright 2020 allWebDevChat</p>
</footer>

</body>

</html>


<!-- this is the footer file -->
<!-- see the bottom of home.ejs file to see how to include it in your ejs file -->