<%- include('partials/header.ejs') %>

<h1>angry mood page</h1>

<a href="#">Music</a>
<a href="#">Read</a>
<a href="#">HELP</a>
<a href="#">Workout</a>
<a href="#">Funny</a>

<%- include('partials/footer.ejs') %>