<%- include('partials/header.ejs') %>

<h1>happy page</h1>

<a href="#">Music</a>
<a href="#">Read</a>
<a href="#">Call/Text a friend or family</a>
<a href="#">Music</a>
<a href="#">Read</a>

<%- include('partials/footer.ejs') %>