<%- include('partials/header.ejs') %>

<main>
    <a href="/mood/happy"><img class="happy" src="images/happy1.svg" alt="Happy face image"></a>
    <a href="/mood/soso"><img class="soso" src="images/soSo1.svg" alt="So so indifferent face image"></a>
    <a href="/mood/sad"><img class="sad" src="images/sad1.svg" alt="Sad face image"></a>
    <a href="/mood/angry"><img class="angry" src="images/angry2.svg" alt="Angry face image"></a>
</main>

<%- include('partials/footer.ejs') %>