<%- include('partials/header.ejs') %>

<h1>sad page</h1>

<a href="#">Music</a>
<a href="#">Read Your Journal</a>
<a href="#">Video</a>
<a href="#">Journal</a>
<a href="#">HELP</a>

<%- include('partials/footer.ejs') %>